/Java POO/Practice/HelloWorld/target/

/Java POO/Practice/Class05/target/
/Java POO/Practice/Class06/target/
/Java POO/Practice/Class07Fighting/target/
/Java POO/Practice/Class08Fighting_aggregation/target/
/Java POO/Practice/Class09/target/
/Java POO/Practice/Class10Persons/target/
/Java POO/Practice/Class11/target/
